body {
  padding-left: 11em;
  padding-right: 11em;

  font-family: Georgia, "Times New Roman",
        Times, serif;
  
   }
   #top{
    color: purple;
    -webkit-align-content: center;
    align-content: center;
    /*background-color: black;*/
  

    }
  #menu{
    margin: 0;
    padding: 0;
    width:20%;
    float:left;
  }
  #menu ul{
       list-style:none;
       }
  #contenido{
  
  
  
  float:right;

    width: 75%;
  }


  }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em ;
}
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li.dia {
  
  margin: 0.5em 0;
  padding: 0.5em;
  
  border-right: 1em solid black }
  ul.navbar li{
  
  margin: 0.5em 0;
  padding: 0.5em;
  
  /*border-right: 1em solid black */}
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: purple }

